## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0, 100), 80)
print (sample_list_1)

[89, 60, 70, 56, 25, 97, 6, 35, 77, 57, 28, 87, 52, 90, 49, 14, 84, 43, 21, 91, 44, 5, 96, 74, 69, 68, 93, 24, 11, 30, 7, 3, 26, 48, 53, 9, 46, 66, 62, 13, 36, 95, 33, 61, 47, 92, 17, 63, 27, 16, 42, 4, 38, 78, 88, 20, 82, 58, 23, 29, 41, 22, 0, 75, 8, 15, 94, 45, 55, 76, 10, 12, 81, 67, 2, 1, 72, 99, 51, 83]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print (len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []

for (i) in sample_list_1:
  sample_list_2.append(random.randrange(0, 100))

print (sample_list_2)

[69, 52, 84, 25, 3, 97, 99, 95, 81, 70, 71, 56, 18, 15, 57, 66, 59, 59, 24, 39, 28, 79, 57, 32, 88, 68, 58, 70, 91, 89, 3, 5, 99, 95, 23, 99, 35, 23, 10, 44, 94, 2, 98, 8, 70, 4, 19, 86, 39, 69, 77, 92, 75, 42, 31, 39, 65, 64, 58, 52, 3, 82, 47, 8, 15, 69, 87, 11, 51, 82, 21, 78, 75, 2, 39, 69, 79, 4, 96, 71]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
len(set2)

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = (set1.difference(set2))

print (set3)

{0, 1, 6, 7, 9, 12, 13, 14, 16, 17, 20, 22, 26, 27, 29, 30, 33, 36, 38, 41, 43, 45, 46, 48, 49, 53, 55, 60, 61, 62, 63, 67, 72, 74, 76, 83, 90, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = (set2.difference(set1))

print (set4)

{32, 64, 65, 98, 39, 71, 79, 18, 19, 86, 59, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5= set1.intersection(set2)

print (set5)

{2, 3, 4, 5, 8, 10, 11, 15, 21, 23, 24, 25, 28, 35, 42, 44, 47, 51, 52, 56, 57, 58, 66, 68, 69, 70, 75, 77, 78, 81, 82, 84, 87, 88, 89, 91, 92, 94, 95, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
len(set1)

80

In [10]:
len(set2)

54

In [11]:
len(set3)

38

In [12]:
len(set4)

12

In [13]:
len(set5)

42

In [15]:
len(set1) == len(set3) + len(set5)

True

In [16]:
len(set5) == len(set2) - len(set4)

True

In [17]:
len(set1) == (len(set2) - len(set4)) + len(set3)

True

In [ ]:
#No sé si he entendido del todo bien el ejercicio, pero he representado las relaciones que he encontrado entre las longitudes de los sets. Pido corrección de esta parte por si no es lo que se pedía exactamente.

#### Create an empty set called `set6`.

In [18]:
# Your code here
set6= set()
type (set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [19]:
# Your code here
set6.update(set3)
set6.update(set5)

len(set6)

80

#### Check if `set1` and `set6` are equal.

In [20]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
# Your code here
set2.issubset(set1)

False

In [22]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [23]:
# Your code here
union_sets_1 = set3.union(set4, set5)
union_sets_2 = set1.union(set2)

union_sets_1 == union_sets_2

True

#### Using the `pop` method, remove the first element from `set1`.

In [24]:
# Your code here
lst1 = list(set1)
lst1.pop(0)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [25]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for (i) in set1:
  if (i) in list_to_remove:
    set1.discard(i)

print(set1) 


#Tiene sentido el error dado que el rango del set va cambiando conforme se va ejecutando el loop, pero no sé cómo solucionarlo. Lo he intentado con lst1, para popear el element(i) de la lista y luego convertir la lista en set, pero me devuelve que la definición no es correcta.

RuntimeError: ignored