## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [1]:
# Your code here

tup = ("I",)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [2]:
# Your code here
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [6]:
# Your code here
list1 = list(tup) 
list2 = ["r", "o", "n", "h", "a", "c", "k"]
list3 = list1 + list2
tup1 = tuple(list3)
print (tup1)
# Your explanation here
#No puedo modificar la tupla como tal, pero sí puedo convertir la tupla a lista, modificar la lista y conseguir un nuevo elemento en forma de tupla que tenga añadidos los valores indicados.

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [7]:
# Your code here

# Your explanation here
Aquí entiendo que esto es el mismo ejercicio de antes, ¿no?

Object `no` not found.

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [10]:
# Your code here
flist=(list3[:4])
dlist=(list3[4:])
tup2=tuple(flist)
tup3=tuple(dlist)
print(tup2)
print(tup3)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [14]:
# Your code here
tup4 = tup2 + tup3
print(tup4)
tup4 == tup1

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

True

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [21]:
# Your code here
len(tup2)
len(tup3)
len(tup2) + len(tup3) == len(tup4)

True

#### What is the index number of `"h"` in `tup3`?

In [22]:
# Your code here
tup4.index("h")

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [29]:
# Your code here
letters = ["a", "b", "c", "d", "e"]
for (i) in letters:
  if (i) in tup4:
    print ("True")
  else:
    print ("False")

True
False
True
False
False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [53]:
# Your code here
a=0

for (i) in tup4:
  if (i) in letters:
    print ((i) "appear" a+=1 "times")
  else:
      print ("No")

#Me da error al incluir los strings en el print. Si incluyo solo (i) o solo el mensaje de string, me lo hace correctamente, pero no consigo imprimir el mensaje entero.

SyntaxError: ignored