## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(1,100), 80)

print(sample_list_1)

[22, 31, 7, 82, 34, 54, 86, 38, 77, 29, 87, 43, 83, 18, 58, 10, 51, 95, 14, 67, 88, 15, 32, 36, 98, 64, 75, 3, 2, 39, 1, 70, 11, 40, 74, 50, 6, 19, 89, 56, 20, 12, 97, 28, 60, 80, 53, 91, 59, 55, 71, 85, 26, 13, 33, 47, 23, 27, 63, 44, 92, 46, 37, 52, 61, 99, 30, 76, 90, 9, 84, 25, 49, 8, 96, 93, 35, 79, 41, 17]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)
print(set1)

len(set1)

print("En este caso no al utilizar la función .sample() no se repite ningún numero, por lo que la longitud sigue siendo la misma.")

{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 67, 70, 71, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
En este caso no al utilizar la función .sample() no se repite ningún numero, por lo que la longitud sigue siendo la misma.

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = []

for i in range(80):
    num = random.randrange(1,100)
    sample_list_2.append(num)
    
print(sample_list_2)
len(sample_list_2)

[36, 44, 33, 12, 23, 18, 58, 79, 71, 22, 83, 43, 44, 37, 21, 19, 97, 55, 24, 65, 51, 81, 71, 71, 80, 31, 26, 83, 68, 32, 70, 61, 26, 93, 14, 32, 8, 79, 84, 72, 4, 94, 43, 80, 86, 34, 29, 11, 95, 99, 81, 91, 37, 81, 37, 38, 68, 3, 72, 20, 76, 39, 6, 18, 51, 97, 21, 43, 29, 97, 67, 58, 54, 93, 90, 99, 79, 14, 50, 95]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
len(set2)

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1.difference(set2)
print(set3)

{1, 2, 7, 9, 10, 13, 15, 17, 25, 27, 28, 30, 35, 40, 41, 46, 47, 49, 52, 53, 56, 59, 60, 63, 64, 74, 75, 77, 82, 85, 87, 88, 89, 92, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2.difference(set1)
print(set4)

{65, 4, 68, 72, 81, 21, 24, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1.union(set2)
print(set5)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 67, 68, 70, 71, 72, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

# x+y =(x ∪ y)− (x ∩ y)=(x − y) ∪ (y − x)

# Preguntar en clase

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

set2.issubset(set1)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

union_complex = set3.union(set4, set5, set1, set2)
print(union_complex)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 67, 68, 70, 71, 72, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

set1.pop()

print("En los conjuntos no hay orden, por tanto, el metodo pop elimina un valor aleatorio")

En los conjuntos no hay orden, por tanto, el metodo pop elimina un valor aleatorio

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
deleted_items = []

for i in set1:
    if i in list_to_remove:
        list_to_remove.remove(i)
        deleted_items.append(i)
        
print("Lista definitiva:", list_to_remove)
print("Elementos eliminados:", deleted_items)

Lista definitiva: [1, 21, 69, 81]
Elementos eliminados: [9, 11, 19, 29, 31, 39, 41, 49, 51, 59, 61, 71, 79, 89, 91, 99]